<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oscar Mania Best Picture Polls</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1 class="text-center">Oscar 2016 Nominees</h1>
        <table style="margin: auto; text-align: center; font-size: xx-small">
            <tr>
                <td>brought to you by</td>
            </tr>
            <tr>
                <td align="center">
                    <a href="http://www.utdallas.edu/~aam065000/" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/oscar-mania-images/common/meAmigo.jpg" alt="3amigos" style="width:50px;"></a>
                </td>
            </tr>
            <tr>
                <td>Abdullah Moyeen</td>
            </tr>
            <tr>
                <td>SE6301: Cloud Computing</td>
            </tr>
            <tr>
                <td>EMSE, 2016 Spring</td>
            </tr>
        </table>
        <h3 class="text-center">Best Picture</h3>
        <h4 class="text-center">Vote for Your Favorite Movie</h4>
        <h4 class="text-center"><a href="{% url 'results' %}">Got to Results</a></h4>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <div class="row">
            {% for nominee in best_picture_nominee_list %}
                <div class="col-sm-3 col-md-3">
                    <h4 class="text-center"><a href="{% url 'vote' nominee.best_picture_nominee_id %}">Vote for {{ nominee.name }}</a></h4>
                    <a href="{{  nominee.detail_url }} " target="_blank"><image src="{{ nominee.full_image_url }}" class="img-responsive center-block" alt="{{ nominee.name }}" title="go to details on imdb"/></a>
                    <br>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>
